/*
 * Pavnext Landing Page Based on the Start Bootstrap - Landing Page (http://startbootstrap.com/)
 * Copyright 2017 Pavnext
 * Done by Manuel Palmeira (http://manuelpalmeira.xyz)
 */

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

a:link, a:hover {
    text-decoration: none;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/header-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-header img {
    width: 75%;
    height: auto;
}

.intro-header .topnav {
  background-color: transparent;
  text-align: right;
  margin-top: -1%;
  color: #f8f8f8;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.topnav p {
  margin-right: 2%;
}

.topnav a:link {
  text-transform: uppercase;
  color: #f8f8f8;
}
.topnav a:hover,
.topnav a:focus {
  color: #54ABFF;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-message .btn {
    border-color: #f8f8f8;
    color: #f8f8f8;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: rgba(0,0,0,0);
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    border-radius: 10px;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h3 {
        font-size: 1.2em;
    }
}

.aboutUs {
    padding: 50px 0;
    border-bottom: 1px solid #54ABFF;
    /*background-color: rgba(84,171,255,1);*/
    background-color: rgb(9,15,61);
    color: #f8f8f8;
}

.aboutUs .aboutUsIcon {
  color: rgb(84,171,255);
}

.content-section-a {
    padding: 50px 0;
    color: #737373;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #0000CD;
    border-bottom: 1px solid #0000CD;
    /*background-color: rgb(84,171,255);*/
    background-color: rgb(9,15,61);
    color: #f8f8f8;
}

.awards {
    padding: 50px 0;
    border-bottom: 1px solid #0000CD;
    /*background-color: rgb(84,171,255);*/
    background-color: rgb(9,15,61);
    color: #f8f8f8;
}
.awards img {
    margin: auto;
    margin-bottom: 1%;
    max-height: 100px;
    max-width: 50%;
    border-radius: 10px;
}
.awards a:link, a:visited {
    color:#54ABFF;
}
.awards a:hover, a:active {
    color: #337AB7;
}

.partners {
    padding: 50px 0;
    color: #737373;
}

.partnersImg {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-bottom: 4%;
    margin-top: 2%;
}

.partners img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.partners .btn {
    margin-top: 3%;
    border-color: #737373;
    color: #737373;
    letter-spacing: 1px;
    background-color: rgba(0,0,0,0);
}

.section-heading {
    margin-bottom: 30px;
    /*text-shadow: 2px 2px 3px rgba(0,0,0,0.2);*/
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/header-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner .btn {
  float: right;
  margin-top: 5%;
  background-color: transparent;
  color: #f8f8f8;
  border-color: #f8f8f8;
  border-radius: 10px;
}

/*.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}*/

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    /*background-color: rgba(84,171,255,1);*/
    background-color: rgb(9,15,61);
    color: #f8f8f8;
}

footer a:link, a:visited {
    color: #54ABFF;
}
footer a:hover, a:active {
    color:#ffffff;
}

p.copyright {
    margin: 15px 0 0;
}

/* Hang */
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  border-color: #f8f8f8;
  background: #54ABFF;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Bounce To Right */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  border-color: #cccccc;
  background: #54ABFF;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}