/*
 * Pavnext Landing Page Based on the Start Bootstrap - Landing Page (http://startbootstrap.com/)
 * Copyright 2017 Pavnext
 * Done by Manuel Palmeira (http://manuelpalmeira.xyz)
 */

body,
html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

body,
footer,
p {
    font-family: 'Open Sans', sans-serif;
}

a:link, a:hover {
    text-decoration: none;
}

.btn {
    border-color: #f8f8f8;
    color: #f8f8f8;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: transparent;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
}

.btn:hover,
.btn:focus {
    border-color: #b7b7b7;
    color: #b7b7b7;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: transparent;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
}

.vcenter {
    display: flex;
    align-items: center;
}

.lead {
    font-size: 20px;
    display: block;
}

.section-heading {
    margin-bottom: 30px;
    font-weight: 800;
}

.navbar-custom {
    right: 5px;
    top: 50%;
    margin-top: -50px;
    height: 100px;
    z-index: 999;
}

.navbar-custom ul {
    list-style: none;
    margin:0;
    padding: 0;
}
.navbar-custom li {
    position: relative;
    background-color: #b7b7b7;
    border:1px solid #b7b7b7;
    border-radius: 50%;
    cursor: pointer;
    padding: 4px;
    height: 1px;
    margin: 10px 10px 0px 0px;
    width: 1px;
    vertical-align:bottom;
}
.navbar-custom li.active, .navbar-custom li:hover {
    background-color: #f8f8f8;
}

.navbar-custom a {
    outline: 0;
    vertical-align:top;
    margin: 0px 0px 0px 25px;
    position: relative;
    top:-5px;
}

.awesome-tooltip + .tooltip > .tooltip-inner {
    /*background-color: #b7b7b7;*/
    background-color: transparent; 
    /*color: #f8f8f8;*/ 
    color: #b7b7b7;
    border: 1px solid #b7b7b7; 
}
.awesome-tooltip + .tooltip.left > .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #b7b7b7;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display:none;
    background-color: transparent;
    color: #f8f8f8;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/header-bg.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.intro-header img {
    max-width: 75%;
    height: auto;
}

.intro-header .topnav {
    background-color: transparent;
    text-align: right;
    margin-top: -1%;
    margin-right: 3%;
    color: #f8f8f8;
    word-spacing: 30px;
    font-size: 110%;
    font-family: 'Open Sans', sans-serif;
}

.topnav a:link, 
.topnav a:visited {
    text-transform: uppercase;
    color: #f8f8f8;
    margin-right: 0%;
}
.topnav a:hover,
.topnav a:focus {
    color: #b7b7b7;
}

.topnav .topnavActive {
    background-color: transparent; 
    border-bottom: 2px solid #b7b7b7; 
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.aboutUs {
    /*background-color: #87b742;*/
    background-color: rgb(62,123,151);
    color: #f8f8f8;
    padding-top: 22%;
    padding-bottom: 22%;
}

.aboutUs .aboutUsIcon {
    color: #f8f8f8;
}

.aboutUs h4 {
    font-family: 'Open Sans', sans-serif;
}

.content-section-a {
    padding-top: 22%;
    padding-bottom: 22%;
    color: #f8f8f8;
    background: url(../img/safety.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.content-section-a p {
    text-align: left;
}

.content-section-b {
    /*background-color: #fcc740;*/
    background-color: #adce44;
    color: #f8f8f8;
    padding-top: 22%;
    padding-bottom: 22%;
}

.content-section-b p {
    text-align: right;
}

.content-section-c {
    color: #f8f8f8;
    background: url(../img/eficiency.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 80%;
    padding-top: 22%;
    padding-bottom: 22%;
}

.content-section-c p {
    text-align: left;
}

.awards {
    background-color: #f8f8f8;
    padding-top: 22%;
    padding-bottom: 6%;
    padding-right: 0;
    padding-left: 0;
    color: #737373;
    /*color: #f8f8f8;*/
}

/*.awards .awards-col {
    position: absolute;
    top: 50%;
}*/

.awards img {
    margin: auto;
    margin-bottom: 1%;
    max-height: 100px;
    max-width: 50%;
}
.awards a:link, a:visited {
    color:#b7b7b7;
}
.awards a:hover, a:active {
    color: #757575;
}

.partners {
    /*background-color: #295593;*/
    background-color: #f8f8f8;
    padding-bottom: 22%;
    padding-top: 6%;
    padding-right: 0;
    padding-left: 0;
    color: #737373;
    /*color: #f8f8f8;*/
}

.partnersImg {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-bottom: 4%;
    margin-top: 2%;
}

.partners img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.partners hr {
    border: 0; 
    height: 1px;
    width: 80%;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.partners .btn {
    margin-top: 3%;
    border-color: #737373;
    color: #737373;
    letter-spacing: 1px;
    background-color: rgba(0,0,0,0);
}

.banner {
    /*padding: 100px 0;*/
    color: #f8f8f8;
    background: url(../img/header-bg.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 22%;
    padding-bottom: 22%;
}

.banner h2 {
    margin: 0;
    font-size: 3em;
    text-align: right;
}

.banner p {
    text-align: right;
}

.banner .btn {
    background-color: transparent;
    color: #f8f8f8;
    border-color: #f8f8f8;
    border-radius: 10px;
}

.banner .btn:hover,
.banner .btn:focus {
    border-color: #b7b7b7;
    color: #b7b7b7;
    background-color: transparent;
    border-radius: 10px;
}

.banner .subscribe {
    float: left;
    margin-top: 0;

}

.banner .btnContact {
    background-color: transparent;
    color: #f8f8f8;
    border-color: #f8f8f8;
    border-radius: 10px;
    margin-top: 15%;
}

.banner .btnContact:hover,
.banner .btnContact:focus {
    border-color: #b7b7b7;
    color: #b7b7b7;
    background-color: transparent;
    border-radius: 10px;
}

@media(max-width:767px) {
    .banner h2 {
            margin: 0;
            font-size: 3em;
    }
}

footer {
    padding: 50px 0;
    background-color: #f2f2f2;
    color: #757575;
}

footer a:link, a:visited {
    color: #b7b7b7;
}
footer a:hover, a:active {
    color:#757575;
}

p.copyright {
    margin: 15px 0 0;
}

/* Form animation imported from https://github.com/codrops/TextInputEffects */

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    /*margin: 1em;*/
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: middle;
    float: left;
}

.input__field {
    position: relative;
    display: block;
    float: left;
    padding: 0.8em;
    width: 100%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: bold;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: left;
    padding: 0 1em;
    width: 40%;
    color: #f8f8f8;
    font-weight: bold;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.1em 0;
    width: 100%;
}

/* Hoshi */
.input--hoshi {
    overflow: hidden;
}

.input__field--hoshi {
    margin-top: 1em;
    padding: 0.90em 0.15em;
    width: 100%;
    background: transparent;
    color: #f8f8f8;
}

.input__label--hoshi {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0.25em;
    width: 100%;
    height: calc(100% - 1em);
    text-align: left;
    pointer-events: none;
}

.input__label-content--hoshi {
    position: absolute;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 10px);
    border-bottom: 1px solid #B9C1CA;
}

.input__label--hoshi::after {
    margin-top: 2px;
    border-bottom: 3px solid red;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
    border-color: hsl(0, 0%, 72%);
}

.input__label--hoshi-color-2::after {
    border-color: hsl(160, 100%, 50%);
}

.input__label--hoshi-color-3::after {
    border-color: hsl(20, 100%, 50%);
}

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
    -webkit-animation: anim-1 0.3s forwards;
    animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}

@keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}

@media only screen and (max-width : 768px) {
    .animated {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}